
@{
    ViewBag.Title = "ProcessRequest";
}

<h2>ProcessRequest</h2>

<div class="modal-content bg-dark" style="color:gray; border:solid gray 1px; top:50%">  
    <div class="modal-header form-header bg-global" style="color:white; border-bottom:solid gray 1px !important;height:50px; vertical-align:middle;">
        <div class="modal-title" id="ModalTitle">Vacation request</div>
    </div>
    <div class="modal-header form-header bg-global" style="color:white; border-bottom:solid gray 1px !important;height:50px; vertical-align:middle;">
        <div class="modal-title" id="ModalTitle">Success!</div>
    </div>
    <div class="modal-body" style="margin:10px;">

    </div>
</div>
