<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SendGridApiKey" value="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" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VacationsContext" connectionString="data source=LAPTOP-6R7SBS7T;initial catalog=vacations;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="VacationContext" connectionString="data source=DESKTOP-V0GVLNH\MSSQLEXPRESS;initial catalog=vacations;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>