@model Vacations.Models.VacationBalanceModel
<div class="jumbotron image" id="left-days">
    <div class="container">
        <div class="row">
            <div class="text-white text-center m-auto">
                <h2>@Model.Balance</h2>
                <p>days avaliable</p>
            </div>            
        </div>
        <div class="row">
            <div class="3"></div>
            <div class="col-6 text-white text-center m-auto">
                <a class="btn btn-block bt-gradient text-white" href="@Url.Action("RequestVacation","Profile")">Request Vacation</a>
            </div>
            <div class="3"></div>
        </div>           
    </div>       
</div>
