<div class="container m-0 p-0">
    <div class="container border container-rounded m-0 p-0">
        <div class="row m-auto text-white">
            <div class="container-fluid bg-dark">
                <strong>My Vacations</strong>
            </div>
            
        </div>
        <table class="table text-white m-0 p-0 " >
            <tr>
                <th></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
        </table>
    </div>
</div>


