@model List<Vacations.Models.VacationViewModel>
<div class="container m-0 p-0 ">
    <div class="container container-rounded m-0 p-0" style="border: 2px solid #757575 !important;">
        <div class="row m-auto text-white">
            <div class="container-fluid bg-dark backColor">
                <strong>My Vacations</strong>
            </div>
            
        </div>
        <table class="table text-white m-0 p-0 backColor" >
            <tr>
                <th></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>vacation dates</td>
                <td>description</td>
                <td>status</td>
                <td>vacation balance</td>
            </tr>
        </table>
    </div>
</div>


