
@{
    ViewBag.Title = "AddNewTeam";
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}

<div class="container m-0 py-3">
    <form>
        <div class="container pb-5 text-light-grey">
            <div class="row">
                <div class="container-fluid border border-bottom-0 border-grey container-rounded-top bg-global text-white p-2 py-2">
                    <strong>Add New Team</strong>
                </div>
            </div>
            <div class="row">
                <!--1-->
                <div class="col-4 border border-bottom-0 border-grey  bg-dark pt-1">
                    <div class="form-group container">
                        <label>team name</label>
                        <input type="text" class="form-control bg-dark border-grey" placeholder="Team Name" />
                    </div>
                </div>
                <div class="col-8 border-top border-right border-grey  bg-dark pt-1">
                    <div class="form-group container">
                        <label>members</label>
                        <select name="members" multiple="" class="form-control container-fluid bg-dark text-light border-grey">
                            <option value="">Skills</option>
                            <option value="angular">Angular</option>
                            <option value="css">CSS</option>
                            <option value="design">Graphic Design</option>
                            <option value="ember">Ember</option>
                            <option value="html">HTML</option>
                            <option value="ia">Information Architecture</option>
                            <option value="javascript">Javascript</option>
                            <option value="mech">Mechanical Engineering</option>
                            <option value="meteor">Meteor</option>
                            <option value="node">NodeJS</option>
                            <option value="plumbing">Plumbing</option>
                            <option value="python">Python</option>
                            <option value="rails">Rails</option>
                            <option value="react">React</option>
                            <option value="repair">Kitchen Repair</option>
                            <option value="ruby">Ruby</option>
                            <option value="ui">UI Design</option>
                            <option value="ux">User Experience</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <!--2-->
                <div class="col-4  border border-top-0  border-grey border-bottom-rounded-left bg-dark">
                    <div class="form-group container">
                        <label>team lead</label>
                        <input type="text" class="form-control bg-dark border-grey" placeholder="Team Lead" />
                    </div>
                </div>

                <div class="col-4 border-bottom border-grey  bg-dark">
                    <div class="form-group container ">
                        <label class="invisible">team lead</label>
                        <input type="reset" class="form-control bg-dark button-cancel border-grey" value="CANCEL" />
                    </div>
                </div>
                <div class="col-4 border-right border-bottom border-bottom-rounded-right border-grey   bg-dark ">
                    <div class="form-group container">
                        <label class="invisible">team lead</label>
                        <input type="submit" class="form-control bg-dark button-done border-grey" value="SAVE" />
                    </div>
                </div>
            </div>           
        </div>
    </form>

</div>

