
@model Vacations.Models.UserViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12 col-xl-4">
        <div class="container mt-3">
            @Html.Partial("_ShowUserProfilePartial", Model.ProfileData)
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="row"style="max-width:95%;">
            <div class="container m-0 p-0 mt-2" >
                @Html.Partial("_LeftDaysProfilePartial", Model.VacationBalanceData)
            </div>
        </div>
        <div class="row"style="max-width:95%;">
            <div class="container m-0 p-0">
                @Html.Partial("_MyVacationsPartial", Model.VacationsData)
            </div>
        </div>
    </div>
</div>
