@using Vacations.Models;
@using VacationsBLL.DTOs;
@model VacationsBLL.Interfaces.IProfileDataService
@{
    var profileDataService = Model;
    var vacationCreationModel = new Vacations.Models.VacationCreationModel();
    var userData = profileDataService.MapEntity<UserProfileDTO, ProfileViewModel>(profileDataService.GetUserData(User.Identity.Name));
    var vacationBalance = profileDataService.MapEntity<VacationBalanceDTO, VacationBalanceModel>(profileDataService.GetUserVacationBalance(User.Identity.Name));

    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}

<div class="row">
    <div class="col-12 col-xl-4">
        <div class="container mt-3">
            @Html.Partial("_ShowUserProfilePartial", userData)
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="row" style="max-width:690px;">
            <div class="container m-0 p-0 mt-2">
                @Html.Partial("_LeftDaysRequestPartial", vacationBalance)
            </div>
        </div>
        <div class="row" style="max-width:690px;">
            <div class="container bg-dark border border-grey container-rounded backColorm-0 p-0">
                @Html.Partial("_VacationRequestPartial", vacationCreationModel)
            </div>
        </div>
    </div>
</div>
