@using Vacations.Models;
@using VacationsBLL.DTOs;
@model VacationsBLL.Interfaces.IProfileDataService
@{
    var profileDataService = Model;
    var requestCreationModel = new Vacations.Models.RequestCreationModel();
    var userData = profileDataService.MapEntity<UserProfileDTO, ProfileViewModel>(profileDataService.GetUserData(User.Identity.Name));
    var vacationBalance = profileDataService.MapEntity<VacationBalanceDTO, VacationBalanceModel>(profileDataService.GetUserVacationBalance(User.Identity.Name));

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 col-xl-4">
        <div class="container mt-3">
            @Html.Partial("_ShowUserProfilePartial", userData)
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="row" style="max-width:690px;">
            <div class="container m-0 p-0 mt-2">
                @Html.Partial("_LeftDaysRequestPartial", vacationBalance)
            </div>
        </div>
        <div class="row" style="max-width:690px;">
            <div class="container bg-dark border border-grey container-rounded backColorm-0 p-0">
                @Html.Partial("_VacationRequestPartial", requestCreationModel)
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    function GetDiff() {
        var dropdt = new Date(document.getElementById("DateOfEnd").value);
        var pickdt = new Date(document.getElementById("DateOfBegin").value);
    return parseInt((dropdt - pickdt) / (24 * 3600 * 1000));
    }
    function CalcDiff() {
        if (document.getElementById("DateOfBegin").value && document.getElementById("DateOfEnd").value) {
    document.getElementById("Duration").value = GetDiff();
    }
    }
    </script>
}
