
@{
    ViewBag.Title = "RequestVocation";
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}
<h2 class="text-light">RequestVocation</h2>
<div class="row">
    <div class="col-12 col-xl-4">
        <div class="container mt-2">
            @Html.Partial("_ShowUserProfilePartial")
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="row">
            <div class="container m-0 p-0">
                @Html.Partial("_LeftDaysRequestPartial")
            </div>
        </div>
        <div class="row">
            <div class="container m-0 p-0">
                @Html.Partial("_VocationRequestPartial")
            </div>
        </div>
    </div>
</div>
