<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{ 
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}

<a href="#" class="btn btn-primary btn-lg" data-toggle="popover" tabindex="0" data-trigger="focus" title="Popover Title" data-content="Content of Popover like a simple form etc.">Show popup</a>


<script type="text/javascript">

    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();

    });

</script>