
@{ 
    Layout = "~/Views/Shared/_InsideLayout.cshtml";
}

<a href="#" class="btn btn-primary btn-lg" data-toggle="popover" tabindex="0" data-trigger="focus" title="Popover Title" data-content="Content of Popover like a simple form etc.">Show popup</a>


<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $(function () {
        $('.example-popover').popover({
            container: 'body'
        })
    })
</script>