@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Styles.Render("~/Content/Styles/bootstrap.css")
@Styles.Render("~/Content/Styles/forgotPasswordStyles.css")


<div class="container center">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "reset" }))
    {
        @Html.AntiForgeryToken()
        <img src="~/Content/Icons/logo-softheme.svg" />

        <p class="logo">SOFTHEME VACATIONS</p>

        <p class="message">Enter your email address and we'll send you a link to reser your password </p>

        <div class="input_icon">
            <i class="icon-user"></i>
            <input type="text" style="border: none; box-shadow: none;" class="form-control resetInput" placeholder="email" autocomplete="off" name="Email">
        </div>

        <button type="submit" class="btn btn-block reset">SEND</button>
    }


    <a style="color: #6971d8; text-decoration: none; text-align: center" href=@Url.Action("Login", "Account")>Never mind, I remember.</a>
</div>
       



