@model IdentitySample.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@Styles.Render("~/Content/Styles/bootstrap.css")
@Styles.Render("~/Content/Styles/loginStyles.css")


<div class="container center">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login" }))
    {
        @Html.AntiForgeryToken()
        <img src="~/Content/Icons/logo-softheme.svg" />

        <p class="logo"><strong>SOFTHEME</strong> VACATIONS</p>

        <div class="input_icon">
            <i class="icon-user"></i>
            <input type="text" style="border: none; box-shadow: none;" class="form-control loginInput" placeholder="email" autocomplete="off" name="Email">
        </div>
        <div class="input_icon">
            <i class="icon-key"></i>
            <input type="password" style="border: none; box-shadow: none;" class="form-control loginInput" placeholder="password" name="Password">
        </div>
        <div class="input_icon"><p>@ViewData["message"]</p></div>

        <button type="submit" class="btn btn-block login">LOG IN</button>
    }

    <a style="color: #6971d8; text-decoration: none; text-align: center" href=@Url.Action("ForgotPassword","Account")>forgot password?</a>

</div>



