<div class="container bg-dark pt-2 m-auto">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light" style="width:100%">           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-light " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto c">


                    <li class="mr-5">
                        <div class="container">
                            <div class="row">
                                <div class="float-left">
                                    <img src="~/Content/Icons/logo-softheme.svg" class="m-auto" />
                                </div>
                                <div class="my-auto m-0 ml-2">
                                    <div class="logo m-auto ml-0" style="overflow:auto"><strong>SOFTHEME</strong> VACATIONS</div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="ml-5 float-left">
                        <div class="container p-0 underline">
                            @Html.ActionLink("MyProfile", "Index", "Profile", new { @class = "nav-link text-light" })
                        </div>
                    </li>   
                    <li class="ml-5 float-right underline">@Html.ActionLink("Request Vacation", "RequestVacation", "Profile", new { @class = "nav-link text-light" })</li>
                </ul>


                <div class="float-md-right float-left m-md-0 ml-3" >
                    <div class="row">
                        <div class="logo col-8">
                            <div class="float-right">
                                <div class="mr-auto my-auto" style="font-size:15px; padding-top:5px;">@User.Identity.Name</div>
                            </div>                            
                        </div>
                        <div class="col-4">
                            <div class="float-left">
                                <img src="~/Content/Icons/user profile icon.svg">
                            </div>
                            
                        </div>
                    </div>                    
                </div>


            </div>
        </nav>
    </div>
</div>

