.profilePhoto {
    object-fit: cover;
    height: 90px !important;
    width: 90px !important;
}

.profileIconPhoto {
    height: 40px !important;
    width: 40px !important;
    object-fit: cover;
}

.change-balance:hover, .change-balance:focus, .change-balance:active {
    text-decoration: none;
    color: #6b6dd2 !important;
    background-color: none;
}
