html, body {
    height: 100%;
}

body {
    background-color: #222222;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
 
}

/*CSS For Password reset Page*/
div.reset input[type=text]:focus{
    
    color: white;
    background: linear-gradient(to right,rgba(58,65,72,0.2), rgba(58,65,72,0.2));
}

.image {
    background: url(../Images/background.jpg) no-repeat center;
    background-size: cover;
}

i.icon-user + input, i.icon-message + input {
    padding-left: 40px;
}

i.icon-user, i.icon-message {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-top: 13px;
    margin-left:10px;
    margin-right: -40px;
    float: left;
}

div.center {
    text-align: center;
    max-width: 320px;
}

@media screen and (min-width: 800px) {
    div.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    img+ p {
        margin-top: 10px;
    }

   div.input_icon + div.input_icon {
         margin-top: 10px;
   }

    p + div.input_icon {
        margin-top: 30px;
    }
     div.input_icon + div.access-response{
          margin-top: 22px;
     }

     div.access-response + button{
          margin-top: 25px;
     }

     div.input_icon + button {
        margin-top: 70px;
    }

      p+p{
       margin-top: 40px;
    }

    div.reset + button{
        margin-top:70px;
    }
}

.logo {
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 800px) {
    div.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img + p {
        margin-top: 10px;
    }

    div.input_icon + div {
        margin-top: 30px;
    }

    p + div.reset {
        margin-top: 70px;
    }

    form.reset + button {
        margin-top: 20px;
    }

   div.input_icon + div.input_icon {
         margin-top: 10px;
   }

    p+p{
       margin-top: 20px;
    }

    div.input_icon + div.access-response {
        margin-top: 22px;
    }

    div.access-response + button {
        margin-top: 25px;
    }
}

.resetInput,.resetInput:focus {
    display: block;
    box-shadow:none;
    border-radius: 6px;
    height: 50px;
    background: linear-gradient(to right,rgba(58,65,72,0.2), rgba(58,65,72,0.2));
    color: white ;
}
p.resetResponse{
    margin-bottom:10px;
    padding-left:20px;
}

.message{
    color:white;
    font-family:Muli-SemiBold;
    opacity:0.7;
  
}
.resetResponse,.resetResponse:focus{
    width:100%;
    display: block;
    border: none;
    box-shadow: none;
    height: 50px;
    background: linear-gradient(to right,rgba(58,65,72,0), rgba(58,65,72,0));
    color: #60d9bd;
}

@font-face {
    font-family: Muli-SemiBold;
    src: url(../Fonts/Muli-SemiBold.ttf);
    
}

.icon-user {
    background: url(../Icons/user-icon.svg) no-repeat;
    background-position: center center;
}

.icon-message {
    background: url(../Icons/message-icon.svg) no-repeat;
    background-position: center center;
}

button.reset, button.reset:hover,
.btn:active {
    font-family: Muli-SemiBold;
    font-weight: bold;
    height: 50px;
    border-radius: 6px;
    color: white;
    background: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1));
    border: none;
}

 button.reset:hover,
.btn:active {
        color: white;
        background: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1));
}

.access-response {
    color: #ffffff;
}


