html, body {
    height: 100%;
    
}

body {
    background-color: #222222;
    min-width: 350px;
}



.backColor {
    background-color: #2e2e2e !important;
    
}

.row-second {
    height: 70vh;
}
.Pending {
    color: #6b6dd2;
}

.Approved {
    color: #56b59e;
}

.Denied {
    color: #ad545f;
}
div .image {/*для jumotrone */
    background-image: url('../Images/home request background.png'); 
}

.bt-gradient, .bt-gradient:active, .bt-gradient:hover {
    font-family: Muli-SemiBold;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1)) !important;
    border: none;
    text-align: center;
    text-decoration: none;
    padding-top:13px;
}

.zebra li:nth-child(odd) {/*для списков, использую или для вывода информации или для форм заполнения*/
    color: grey;
    padding-top: 10px;
    font-size:small;/*Может потом отменю*/
}

.zebra li:nth-child(even) {
    color: white;
    padding-bottom: 2px;
}

.underline a:after {/*Подчеркивание ссылок, пока не работает идеально*/
    display: block;
    position: relative;
    left: 0;
    width: 0; 
    height: 2px; 
    background-image: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1)); 
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.underline a:focus:after,
.underline a:hover:after {
    width: 100%;    
}

.left-menu {
    height: 90vh;
}

.colorWhite{
    color:white !important;
}
.bg-left-menu {
    background-color: #222222;
    padding-bottom: 3px;
}

.bg-global {
    background-color: #222222;
}


a.left-menu-element, a.left-menu-element:hover, a.left-menu-element:active {
    background-color: #2e2e2e !important;
    color: #959595;
    border-bottom-color: white;
    margin-top: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.container-rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px, 1px, 0, 1px !important;
    border-color: gray !important;
}

.container-rounded-buttom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px !important;
    border-color: gray !important;
}

.container-rounded {
    border-radius: 6px;
}

.field-days-width {
    width: 4rem;
}

.form-button, .form-button:hover
{
    font-family: Muli-SemiBold;
    font-weight: bold;
    height: 50px;
    border-radius: 6px;
    color: white;  
    border: none;
}

.form-button:hover {
    color: white;
}
.text-grey{
    color:grey;
}

