html, body {
    height: 100%;
    
}

body {
    background-color: #222222;
    min-width: 350px;
}



.backColor {
    background-color: #2e2e2e !important;
    
}

.row-second {
    height: 70vh;
}
.Pending {
    color: #6b6dd2;
}

.Approved {
    color: #56b59e;
}

.Denied {
    color: #ad545f;
}
div .image {/*для jumotrone */
    background-image: url('../Images/home request background.png'); 
}

.bt-gradient, .bt-gradient:active, .bt-gradient:hover {
    font-family:         Muli-SemiBold;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    color: white !important;
    background: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1)) !important;
    border: none;
    text-align: center;
    text-decoration: none;
    padding-top:13px;
}

.zebra li:nth-child(odd) {/*для списков, использую или для вывода информации или для форм заполнения*/
    color: grey;
    padding-top: 10px;
    font-size:small;/*Может потом отменю*/
}

.zebra li:nth-child(even) {
    color: white;
    padding-bottom: 2px;
}
@media screen and (min-width: 1900px) {
    .left-menu {
        height: 93.8vh;
    }
}

@media screen and (max-width: 2000px) {
    .left-menu {
        height: 92.3vh;
    }
}

li .textUnderline:hover, li .textUnderline:active {
    color: #6b6dd2 !important;
}
.underline a:hover, .underline a:active {
    color: white !important;
    background: linear-gradient(to right,rgba(102,125,234,1), rgba(107,109,210,1), rgba(112,92,187,1), rgba(118,76,164,1)) !important;
}



.colorWhite{
    color:white !important;
}
.bg-left-menu {
    background-color: #222222;
    padding-bottom: 3px;
}

.bg-global {
    background-color: #222222;
}


a.left-menu-element, a.left-menu-element:hover, a.left-menu-element:active, a.left-menu-element:focus {
    background-color: #2e2e2e !important;
    color: #959595;
    border-bottom-color: white;
    margin-top: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.container-rounded-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px, 1px, 0, 1px !important;
    border-color: gray !important;
}

.container-rounded-buttom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px !important;
    border-color: gray !important;
}

.container-rounded {
    border-radius: 6px;
}

.field-days-width {
    width: 4rem;
}

.form-button, .form-button:hover
{
    font-family: Muli-SemiBold;
    font-weight: bold;
    height: 50px;
    border-radius: 6px;
    color: white;  
    border: none;
}

.form-button:hover {
    color: white;
}
.text-grey{
    color:grey;
}
.badge {
    background: linear-gradient(to right, #667EEA, #764BA3);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:20px;
}
a.logOffLink {
    color: white !important;    
    padding-left: 4rem;
}

 a.logOffLink:hover, a.logOffLink:active {
        text-decoration: none;
        color: #6b6dd2 !important;
 }
.gradientText {
    color: #6b6dd2 !important;
}